@media (max-width: 768px) {
    #navbar {
        display: none !important;
    }
    #main-doc {
        margin-left: 0 !important;
    }
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

html {
    background-color: #e1e1e1; /* Light gray background */
}

.logo {
  display: block;
  margin: 30px auto 10px auto;
  width: 150px;
  height: auto;
  border-radius: 16px;
}

.header-text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    color: #c25a19;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0; /* Change: Make navbar start from the very left edge */
    width: 300px;
    height: 100%;
    border-right: 2px solid gray; 
    padding-left: 0; /* Ensure no default padding from ul */
    margin: 0; /* Ensure no default margin from ul */
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

ul {
    padding: 0px;
    flex: 1 1 auto;
    width: 100%;
}

#navbar a {
    text-decoration: none; 
    /*color: inherit;*/
}

#navbar li {
    display: block; 
    width: 100%; 
    box-sizing: border-box; 
    padding: 10px 0 10px 20px; 
    border-bottom: 2px solid gray;
    list-style: none;
    
}

.first-li {
    border-top: 2px solid gray;
}

/* To address the last item not having a bottom border or if you want consistent spacing */
/* #navbar li:last-child {
    border-bottom: none;
} */

#main-doc {
    margin-left: 310px;
    padding: 0 10px 0 10px;
    font-family: Helvetica; 
}

/* Style for the Character and Entity References table */
table {
  max-width: 1800px;
  border-collapse: collapse;
  margin: 24px 0;
  font-size: 16px;
  background: #eaeaea;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

table caption {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  color: #222222;
}

table th, table td {
  border: 1px solid #bbb;
  padding: 10px 12px;
  text-align: left;
}

table thead {
  background: #00051f;
}

table tbody tr:nth-child(even) {
  background: #d5d5d5;
}

table th {
  background: #e0d4c6;
  color: #222;
}

.space-above {
    padding-top: 20px;
    color: #00051f; 
}

.first-header {
    color: #00051f;
}

pre, pre code {
    /* Your CSS properties here */
    font-family: 'Fira Code', 'Roboto Mono', monospace; /* Use a preferred monospaced font */
    background-color: #e0d4c6; /* Light gray background */
    padding: 2px 20px; /* Small padding around the code */
    margin: 1px 20px;
    border-radius: 3px; /* Slightly rounded corners */
    color: #452e06; /* A distinct text color */
    font-size: 0.9em; /* Slightly smaller font size */
    font-weight: 800; /* Normal font weight */
}

.heading-levels {
    margin-left: 20px;
}